html,
body,
.body {
    margin: 0;
    background-color: #2f4f30;
    color: #ddd;
}

.titulo {
    text-align: center;
    background-color: #333;
    color: #ddd;
    font-size: 32px;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

.tablajugador {
    background-color: #2f4f30;

    height: 300px;
}
